# Игнорировать папку About и всё её содержимое
About/

# Игнорировать указанные файлы
GameData/Language/SPDAOverride.xml
GameData/Language/english_tooltips.xml
GameData/Language/english_tips.xml
GameData/Language/english_keys.xml
GameData/Language/english_help.xml
GameData/Language/english.xml
GameData/Language/en.resx